/*  ----------  Font Families  ----------   */
.main-font{
    font-family: "Trade Gothic LT Std";
    font-weight: normal;
}
.second-font{
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}

/*  ----------  Font Family Weights  ----------   */
.font-semibold{
    font-weight: 600;
}
.font-medium{
    font-weight: 500;
}
.font-bold{
    font-weight: bold;
}

/*  ----------  Font Sizes  ----------   */

.font-10{
    font-size: 10px;
}
.font-12{
    font-size: 12px;
}
.font-14{
    font-size: 14px;
}
.font-16{
    font-size: 16px;
}
.font-20{
    font-size: 20px;
}
.font-24{
    font-size: 24px;
}
.font-32{
    font-size: 32px;
}
.font-36{
    font-size: 36px;
}
.font-40{
    font-size: 40px;
}


