/*  ----------  Font Families  ----------   */
.mainfont{
    font-family: "Trade Gothic LT Std";
    font-weight: normal;
}
.mainfont2{
    font-family: 'Montserrat';
    font-weight: normal;
}

/*  ----------  Font Family Weights  ----------   */
.fontsemibold{
    font-weight: 600;
}
.fontmedium{
    font-weight: 500;
}
.fontbold{
    font-weight: bold;
}

/*  ----------  Font Sizes  ----------   */

.font10{
    font-size: 10px;
}
.font12{
    font-size: 12px;
}
.font14{
    font-size: 14px;
}
.font16{
    font-size: 16px;
}
.font20{
    font-size: 20px;
}
.font24{
    font-size: 24px;
}
.font32{
    font-size: 32px;
}
.font36{
    font-size: 36px;
}
.font40{
    font-size: 40px;
}


/*  ----------  Icons  ----------   */

.ballFilled::before {
  content: url("../Icons/ballFilled=False.svg");
}

.timmerFill-true::before {
  content: url("../Icons/timmerFill=True.svg");
}

.timmerFill-false::before {
  content: url("../Icons/timmerFill=False.svg");
}

.newspaperFill-true::before {
  content: url("../Icons/newspaperFill=True.svg");
}

.newspaperFill-false::before {
  content: url("../Icons/newspaperFill=False.svg");
}

.heartFill-true::before {
  content: url("../Icons/heartFill=True.svg");
}

.heartFill-false::before {
  content: url("../Icons/heartFill=False.svg");
}

.barchartFill-true::before {
  content: url("../Icons/barchartFill=True.svg");
}

.barchartFill-false::before {
  content: url("../Icons/barchartFill=False.svg");
}

.Arrowd-true::before {
  content: url("../Icons/Arrowd=True.svg");
}

.Arrowd-false::before {
  content: url("../Icons/Arrowd=False.svg");
}

.cardFill-true::before {
  content: url("../Icons/cardFill=True.svg");
}

.cardFill-false::before {
  content: url("../Icons/cardFill=False.svg");
}

.headsetFill-true::before {
  content: url("../Icons/headsetFill=True.svg");
}

.headsetFill-false::before {
  content: url("../Icons/headsetFill=False.svg");
}

.bookFill-true::before {
  content: url("../Icons/bookFill=True.svg");
}

.bookFill-false::before {
  content: url("../Icons/bookFill=False.svg");
}

.cashFill-true::before {
  content: url("../Icons/cashFill=True.svg");
}

.cashFill-false::before {
  content: url("../Icons/cashFill=False.svg");
}

.Arrow-true::before {
  content: url("../Icons/Arrow=True.svg");
}

.Arrow-false::before {
  content: url("../Icons/Arrow=False.svg");
}

.cameraFill-true::before {
  content: url("../Icons/cameraFill=True.svg");
}

.cameraFill-false::before {
  content: url("../Icons/cameraFill=False.svg");
}

.walletFill-true::before {
  content: url("../Icons/walletFill=True.svg");
}

.walletFill-false::before {
  content: url("../Icons/walletFill=False.svg");
}
.clipboardFill::before {
  content: url("../Icons/clipboardFill=True.svg");
}

.clipboardFill-false::before {
  content: url("../Icons/clipboardFill=False.svg");
}

.convobubblesFill::before {
  content: url("../Icons/convobubblesFill=True.svg");
}

.convobubblesFill-false::before {
  content: url("../Icons/convobubblesFill=False.svg");
}

.Explore::before {
  content: url("../Icons/Explore=True.svg");
}

.Explore-false::before {
  content: url("../Icons/Explore=False.svg");
}

.shieldcheckFill::before {
  content: url("../Icons/shieldcheckFill=True.svg");
}

.shieldcheckFill-false::before {
  content: url("../Icons/shieldcheckFill=False.svg");
}

.menuFill::before {
  content: url("../Icons/menuFill=True.svg");
}

.menuFill-false::before {
  content: url("../Icons/menuFill=False.svg");
}

.idcardFill::before {
  content: url("../Icons/idcardFill=True.svg");
}

.idcardFill-false::before {
  content: url("../Icons/idcardFill=False.svg");
}

.megaphoneFill::before {
  content: url("../Icons/megaphoneFill=True.svg");
}

.megaphoneFill-false::before {
  content: url("../Icons/megaphoneFill=False.svg");
}

.paperplaneFilled::before {
  content: url("../Icons/paperplaneFilled=True.svg");
}

.paperplaneFilled-false::before {
  content: url("../Icons/paperplaneFilled=False.svg");
}

.settings::before {
  content: url("../Icons/settings=True.svg");
}

.settings-false::before {
  content: url("../Icons/settings=False.svg");
}

.gridFill::before {
  content: url("../Icons/gridFill=True.svg");
}

.gridFill-false::before {
  content: url("../Icons/gridFill=False.svg");
}

.calendarFill::before {
content: url("../Icons/calendarFill=True.svg");
}

.calendarFill-false::before {
content: url("../Icons/calendarFill=False.svg");
}

.eyeoffFill::before {
content: url("../Icons/eyeoffFill=True.svg");
}

.eyeoffFill-false::before {
content: url("../Icons/eyeoffFill=False.svg");
}

.Support::before {
content: url("../Icons/Support=True.svg");
}

.Support-false::before {
content: url("../Icons/Support=False.svg");
}

.lockclosed::before {
content: url("../Icons/lockclosed=True.svg");
}

.lockclosed-false::before {
content: url("../Icons/lockclosed=False.svg");
}

.albumsFill::before {
content: url("../Icons/albumsFill=True.svg");
}

.albumsFill-false::before {
content: url("../Icons/albumsFill=False.svg");
}

.alertFill::before {
content: url("../Icons/alertFill=True.svg");
}

.alertFill-false::before {
content: url("../Icons/alertFill=False.svg");
}

.eyeFill::before {
content: url("../Icons/eyeFill=True.svg");
}

.eyeFill-false::before {
content: url("../Icons/eyeFill=False.svg");
}

.Logout::before {
content: url("../Icons/Logout=True.svg");
}

.Logout-false::before {
content: url("../Icons/Logout=False.svg");
}

.documenttextFill::before {
content: url("../Icons/documenttextFill=True.svg");
}

.documenttextFill-false::before {
content: url("../Icons/documenttextFill=False.svg");
}

.notFill::before {
  content: url("../Icons/notFill=True.svg");
}

.notFill-false::before {
  content: url("../Icons/notFill=False.svg");
}

.bookmarksFill::before {
  content: url("../Icons/bookmarksFill=True.svg");
}

.bookmarksFill-false::before {
  content: url("../Icons/bookmarksFill=False.svg");
}

.bookmarkFill::before {
  content: url("../Icons/bookmarkFill=True.svg");
}

.bookmarkFill-false::before {
  content: url("../Icons/bookmarkFill=False.svg");
}

.Mail::before {
  content: url("../Icons/Mail=True.svg");
}

.Mail-false::before {
  content: url("../Icons/Mail=False.svg");
}

.ion_bed::before {
  content: url("../Icons/ion_bed.svg");
}

.ion_bed-outline::before {
  content: url("../Icons/ion_bed-outline.svg");
}

.ion_boat::before {
  content: url("../Icons/ion_boat.svg");
}

.ion_boat-outline::before {
  content: url("../Icons/ion_boat-outline.svg");
}

.ion_image::before {
  content: url("../Icons/ion_image.svg");
}

.ion_image-outline::before {
  content: url("../Icons/ion_image-outline.svg");
}

.ion_heart-circle::before {
  content: url("../Icons/ion_heart-circle.svg");
}

.ion_heart-circle-outline::before {
  content: url("../Icons/ion_heart-circle-outline.svg");
}

.Edit::before {
  content: url("../Icons/Edit=True.svg");
}

.Edit-false::before {
  content: url("../Icons/Edit=False.svg");
}

.ion_game-controller::before {
  content: url("../Icons/ion_game-controller.svg");
}

.ion_game-controller-outline::before {
  content: url("../Icons/ion_game-controller-outline.svg");
}

.filetraystackFilled::before {
  content: url("../Icons/filetraystackFilled=True.svg");
}

.filetraystackFilled-false::before {
  content: url("../Icons/filetraystackFilled=False.svg");
}

.filetrayemptyFilled::before {
  content: url("../Icons/filetrayemptyFilled=True.svg");
}

.filetrayemptyFilled-false::before {
  content: url("../Icons/filetrayemptyFilled=False.svg");
}

.filetrayFilled::before {
  content: url("../Icons/filetrayFilled=True.svg");
}

.filetrayFilled-false::before {
  content: url("../Icons/filetrayFilled=False.svg");
}

.Flag::before {
  content: url("../Icons/Flag=True.svg");
}

.Flag-false::before {
  content: url("../Icons/Flag=False.svg");
}

.ion_folder-open-outline::before {
  content: url("../Icons/ion_folder-open-outline.svg");
}

.flaskFilled::before {
  content: url("../Icons/flaskFilled=True.svg");
}

.flaskFilled-false::before {
  content: url("../Icons/flaskFilled=False.svg");
}

.documentattachFilled::before {
  content: url("../Icons/documentattachFilled=True.svg");
}

.documentattachFilled-false::before {
  content: url("../Icons/documentattachFilled=False.svg");
}

.documentFilled::before {
  content: url("../Icons/documentFilled=True.svg");
}

.documentFilled-false::before {
  content: url("../Icons/documentFilled=False.svg");
}

.Stars::before {
  content: url("../Icons/Stars=True.svg");
}

.Stars-false::before {
  content: url("../Icons/Stars=False.svg");
}

.filmFilled::before {
  content: url("../Icons/filmFilled=True.svg");
}

.filmFilled-false::before {
  content: url("../Icons/filmFilled=False.svg");
}

.cloudFilled::before {
  content: url("../Icons/cloudFilled=True.svg");
}

.cloudFilled-false::before {
  content: url("../Icons/cloudFilled=False.svg");
}

.partialcloudFilled::before {
  content: url("../Icons/partialcloudFilled=True.svg");
}

.partialcloudFilled-false::before {
  content: url("../Icons/partialcloudFilled=False.svg");
}

.ion_bicycle::before {
  content: url("../Icons/ion_bicycle.svg");
}

.ion_bicycle-outline::before {
  content: url("../Icons/ion_bicycle-outline.svg");
}

.Share::before {
  content: url("../Icons/Share=True.svg");
}

.Share-false::before {
  content: url("../Icons/Share=False.svg");
}

.eyedropperFilled::before {
  content: url("../Icons/eyedropperFilled=True.svg");
}

.eyedropperFilled-false::before {
  content: url("../Icons/eyedropperFilled=False.svg");
}

.checkmarkdoneFilled::before {
  content: url("../Icons/checkmarkdoneFilled=True.svg");
}

.chechmarkdoneFilled-false::before {
  content: url("../Icons/chechmarkdoneFilled=False.svg");
}

.archiveFilled::before {
  content: url("../Icons/archiveFilled=True.svg");
}

.archiveFilled-false::before {
  content: url("../Icons/archiveFilled=False.svg");
}

.callFilled::before {
  content: url("../Icons/callFilled=True.svg");
}

.callFilled-false::before {
  content: url("../Icons/callFilled=False.svg");
}

.Checkbox::before {
  content: url("../Icons/Checkbox=True.svg");
}

.Checkbox-false::before {
  content: url("../Icons/Checkbox=False.svg");
}

.chatbubbleFilled::before {
  content: url("../Icons/chatbubbleFilled=True.svg");
}

.chatbubbleFilled-false::before {
  content: url("../Icons/chatbubbleFilled=False.svg");
}

.chatboxFilled-true::before {
content: url("../Icons/chatboxFilled=True.svg");
}

.chatboxFilled-false::before {
content: url("../Icons/chatboxFilled=False.svg");
}

.cartFilled-true::before {
content: url("../Icons/cartFilled=True.svg");
}

.cartFilled-false::before {
content: url("../Icons/cartFilled=False.svg");
}

.camerareverseFilled-true::before {
content: url("../Icons/camerareverseFilled=True.svg");
}

.camerareverseFilled-false::before {
content: url("../Icons/camerareverseFilled=False.svg");
}

.Wifi-true::before {
content: url("../Icons/Wifi=True.svg");
}

.Wifi-false::before {
content: url("../Icons/Wifi=False.svg");
}

.cafeFilled-true::before {
content: url("../Icons/cafeFilled=True.svg");
}

.cafeFilled-false::before {
content: url("../Icons/cafeFilled=False.svg");
}

.buildingFilled-true::before {
content: url("../Icons/buildingFilled=True.svg");
}

.buildingFilled-false::before {
content: url("../Icons/buildingFilled=False.svg");
}

.bcFilled-true::before {
content: url("../Icons/bcFilled=True.svg");
}

.bcFilled-false::before {
content: url("../Icons/bcFilled=False.svg");
}

.bugFilled-true::before {
content: url("../Icons/bugFilled=True.svg");
}

.bugFilled-false::before {
content: url("../Icons/bugFilled=False.svg");
}

.Breatfast-true::before {
  content: url("../Icons/Breatfast=True.svg");
}

.Breatfast-false::before {
  content: url("../Icons/Breatfast=False.svg");
}

.bagFilled-true::before {
  content: url("../Icons/bagFilled=True.svg");
}

.bagFilled-false::before {
  content: url("../Icons/bagFilled=False.svg");
}

.bulbFilled-true::before {
  content: url("../Icons/bulbFilled=True.svg");
}

.bulbFilled-false::before {
  content: url("../Icons/bulbFilled=False.svg");
}

.beerFilled-true::before {
  content: url("../Icons/beerFilled=True.svg");
}

.beerFilled-false::before {
  content: url("../Icons/beerFilled=False.svg");
}

.paperFilled-true::before {
  content: url("../Icons/paperFilled=True.svg");
}

.paperFilled-false::before {
  content: url("../Icons/paperFilled=False.svg");
}

.binFilled-true::before {
  content: url("../Icons/binFilled=True.svg");
}

.binFilled-false::before {
  content: url("../Icons/binFilled=False.svg");
}

.Location-true::before {
  content: url("../Icons/Location=True.svg");
}

.Location-false::before {
  content: url("../Icons/Location=False.svg");
}

.baghandleFilled-true::before {
  content: url("../Icons/baghandleFilled=True.svg");
}

.baghandleFilled-false::before {
  content: url("../Icons/baghandleFilled=False.svg");
}

.bsFilled-true::before {
  content: url("../Icons/bsFilled=True.svg");
}

.bsFilled-false::before {
  content: url("../Icons/bsFilled=False.svg");
}

.ion_arrow-back-circle:before {
  content: url("../Icons/ion_arrow-back-circle.svg");
}

.ion_arrow-back-circle-outline:before {
  content: url("../Icons/ion_arrow-back-circle-outline.svg");
}

.alarmFilled-true:before {
  content: url("../Icons/alarmFilled=True.svg");
}

.alarmFilled-false:before {
  content: url("../Icons/alarmFilled=False.svg");
}

.mcFilled-true:before {
  content: url("../Icons/mcFilled=True.svg");
}

.mcFilled-false:before {
  content: url("../Icons/mcFilled=False.svg");
}

.Star-true:before {
  content: url("../Icons/Star=True.svg");
}

.Star-false:before {
  content: url("../Icons/Star=False.svg");
}

.bagcheckFilled-true:before {
  content: url("../Icons/bagcheckFilled=True.svg");
}

.bagcheckFilled-false:before {
  content: url("../Icons/bagcheckFilled=False.svg");
}

.arrundoFilled-true:before {
  content: url("../Icons/arrundoFilled=True.svg");
}

.arrundoFilled-false:before {
  content: url("../Icons/arrundoFilled=False.svg");
}

.arrtopFilled-true:before {
  content: url("../Icons/arrtopFilled=True.svg");
}

.arrtopFilled-false:before {
  content: url("../Icons/arrtopFilled=False.svg");
}

.ion_add-circle:before {
  content: url("../Icons/ion_add-circle.svg");
}

.ion_add-circle-outline:before {
  content: url("../Icons/ion_add-circle-outline.svg");
}

.visaFilled-true:before {
  content: url("../Icons/visaFilled=True.svg");
}

.visaFilled-false:before {
  content: url("../Icons/visaFilled=False.svg");
}


.User-true:before {
  content: url("../Icons/User=True.svg");
}
.User-false:before {
  content: url("../Icons/User=False.svg");
}

.bagaddFilled-true:before {
  content: url("../Icons/bagaddFilled=True.svg");
}
.bagaddFilled-false:before {
  content: url("../Icons/bagaddFilled=False.svg");
}

.arrredoFilled-true:before {
  content: url("../Icons/arrredoFilled=True.svg");
}
.arrredoFilled-false:before {
  content: url("../Icons/arrredoFilled=False.svg");
}

.arrrightFilled-true:before {
  content: url("../Icons/arrrightFilled=True.svg");
}
.arrrightFilled-false:before {
  content: url("../Icons/arrrightFilled=False.svg");
}

.airplaneFilled-true:before {
  content: url("../Icons/airplaneFilled=True.svg");
}
.airplaneFilled-false:before {
  content: url("../Icons/airplaneFilled=False.svg");
}

.uploadFilled-true:before {
  content: url("../Icons/uploadFilled=True.svg");
}
.uploadFilled-false:before {
  content: url("../Icons/uploadFilled=False.svg");
}

.appsFilled-true:before {
  content: url("../Icons/appsFilled=True.svg");
}
.appsFilled-false:before {
  content: url("../Icons/appsFilled=False.svg");
}

.bagremoveFilled-true:before {
  content: url("../Icons/bagremoveFilled=true.svg");
}
.bagremoveFilled-false:before {
  content: url("../Icons/bagremoveFilled=false.svg");
}

.basketFilled-true:before {
  content: url("../Icons/basketFilled=True.svg");
}
.basketFilled-false:before {
  content: url("../Icons/basketFilled=False.svg");
}

.arrdownFilled-true::before {
  content: url("../Icons/arrdownFilled=True.svg");
}

.arrdownFilled-false::before {
  content: url("../Icons/arrdownFilled=False.svg");
}

.accessFilled-true::before {
  content: url("../Icons/accessFilled=True.svg");
}

.accessFilled-false::before {
  content: url("../Icons/accessFilled=False.svg");
}

.Pen-true::before {
  content: url("../Icons/Pen=True.svg");
}

.Pen-false::before {
  content: url("../Icons/Pen=False.svg");
}

.searchFill-true::before {
  content: url("../Icons/searchFill=True.svg");
}

.searchFill-false::before {
  content: url("../Icons/searchFill=False.svg");
}

.infoFill-true::before {
  content: url("../Icons/infoFill=True.svg");
}

.infoFill-false::before {
  content: url("../Icons/infoFill=False.svg");
}

.helpFill-true::before {
  content: url("../Icons/helpFill=True.svg");
}

.helpFill-false::before {
  content: url("../Icons/helpFill=False.svg");
}

.ErrorFill-true::before {
  content: url("../Icons/ErrorFill=True.svg");
}

.ErrorFill-false::before {
  content: url("../Icons/ErrorFill=False.svg");
}

.Fill-true::before {
  content: url("../Icons/Fill=True.svg");
}

.Fill-false::before {
  content: url("../Icons/Fill=False.svg");
}

