@font-face {
    font-family: 'Montserrat-Arabic';
    src: url('Montserrat-Arabic-Medium.woff2') format('woff2'),
        url('Montserrat-Arabic-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Bold.woff2') format('woff2'),
        url('Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

