@font-face {
    font-family: 'Trade Gothic LT Std';
    src: url('./Fonts/TradeGothicLTStd-Extended.woff2') format('woff2'),
        url('./Fonts/TradeGothicLTStd-Extended.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Trade Gothic LT Std';
    src: url('./Fonts/TradeGothicLTStd-BoldExt.woff2') format('woff2'),
        url('./Fonts/TradeGothicLTStd-BoldExt.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    src: url('./Fonts/Montserrat-Regular.woff2') format('woff2'),
        url('./Fonts/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./Fonts/Montserrat-SemiBold.woff2') format('woff2'),
        url('./Fonts/Montserrat-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    src: url('./Fonts/Montserrat-Arabic-Medium.woff2') format('woff2'),
        url('./Fonts/Montserrat-Arabic-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./Fonts/Montserrat-Bold.woff2') format('woff2'),
        url('./Fonts/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}




